@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #ffffff; /* Light mode background */
  --color-text: #000000; /* Light mode text */
}

[data-theme="dark"] {
  --color-bg: #14142b; /* #14142B */
  --color-text: #ffffff; /* Dark mode text */
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
